.StudentCard {
  display: grid;
  grid-template-columns: 100px 1fr;
  border-bottom: 1px solid #eee;
}

.StudentCard div {
  margin-left: 10px;
}

.StudentCard__info h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.StudentCard__avatar {
  display: grid;
  place-items: center;
}

.StudentCard__avatar img {
  width: 100%;
  border-radius: 100px;
  border: 1px solid rgb(236, 232, 232);
}

.StudentCard__info ul {
  padding-inline-start: 16px;
  margin-top: 0px;
  list-style: none;
  color: #777;
}
