.StudentList {
  height: inherit;
}

.StudentList__Controls {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  gap: 16px;
  align-items: end;
}

.StudentList__Controls button {
  height: 50%;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.StudentList__Controls button:active {
  border-color: #777;
}

.StudentList__Controls input {
  margin: 0 8px;
  padding: 16px 0 8px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}
.StudentList__Controls input:focus {
  border-color: #777;
}

.StudentList__content {
  height: calc(100% - 42px);
  overflow-y: scroll;
}

.StudentList__content--center {
  display: grid;
  place-items: center;
}
